    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Soochna</a>
        </div>
        <div class="nav navbar-nav navbar-right dropdown">
        <button class="nav-soochna btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter Soochna By Ministry
          <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Ministry of Commerce</a></li>
              <li><a href="#">ministry of communications and informations</a></li>
              <li><a href="#">Ministry of commerce</a></li>
              <li><a href="#">Ministry of civil aviation</a></li>
              <li><a href="#">ministry of Coal and Mines</a></li>
              <li><a href="#">Ministry of communications</a></li>
              <li><a href="#">Ministry of Atomic energy</a></li>
              <li><a href="#">Ministry of corporate affairs</a></li>
              <li><a href="#">Ministry of Agro and Rural Industries</a></li>
              <li><a href="#">Ministry of Defence</a></li>
              <li><a href="#">Ministry of Finance</a></li>
             </ul>
           </div><!--/.nav-collapse -->
      </div>
    </nav>


<ui-view></ui-view>