
<div class="editor-form">
<form name="EditorCtrl.noticeForm" class="form-horizontal">

<div class="form-group">
        <div class="col-sm-10" data-ng-class="{'has-error': EditorCtrl.noticeForm.noticeTitle.$invalid && (EditorCtrl.noticeForm.noticeTitle.$dirty || EditorCtrl.noticeForm.$submitted)}">
          <input type="text" class="form-control" id="noticeTitle" name="noticeTitle" placeholder="Notice Title" data-ng-model="EditorCtrl.notice.noticeTitle" required>
        </div>
</div>
<textarea data-ng-model="EditorCtrl.notice.noticeContent" ck-editor></textarea>
<br>
<div class="button-wrapper">
	<button type="button" id="checkMinistry" class="btn btn-default" text-align="center" data-ng-click="EditorCtrl.publish();">Publish Notice</button>
</div> 

</form>

</div>

